<form method="POST" action="{{if .post.ID }}{{.Post.Update .post.ID}}{{else}}{{ .Post.Create}}{{end}}">
  {{post := .post}}
  {{field := field["title"] }}
  <div class="form-group {{ .field.ErrorClass}}">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="{{ .field.Name }}" placeholder="Enter title"
      value="{{if .field.Flash}}{{ .field.Flash}}{{else}}{{ .post.Title}}{{end}}" />
  </div>

  {{field := field["body"]}}
  <div class="form-group {{ .field.ErrorClass}}">
    <label for="title">Body</label>
    <textarea class="form-control" id="body" name="{{ .field.Name}}"
      rows="3">{{if .field.Flash}}{{.field.Flash}}{{else}}{{.post.Body}}{{end}}</textarea>
  </div>

  <button type="submit" name="publish" class="btn btn-default btn-sm">Save</button>
</form>